# fly.toml app configuration file generated for up-solidario on 2025-08-27T20:28:11-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "up-solidario"
primary_region = "gru"

[build]

[env]
DJANGO_SETTINGS_MODULE = "core.prod"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1
processes = ["app"]

[[vm]]
memory = "1gb"
cpu_kind = "shared"
cpus = 1
